In [1]:
import numpy as np
import pandas as pd

import datetime

In [24]:
input_fire_path = '../data/FW_Veg_Rem_Combined.csv'
input_city_path = '../data/city_attributes.csv'
input_humidity_path = '../data/humidity.csv'
input_pressure_path = '../data/pressure.csv'
input_tempetature_path = '../data/temperature.csv'
input_windD_path = '../data/wind_direction.csv'
input_windS_path = '../data/wind_speed.csv'

In [35]:
df_fire = pd.read_csv(input_fire_path)
df_city = pd.read_csv(input_city_path)
df_hum = pd.read_csv(input_humidity_path)
df_pre = pd.read_csv(input_pressure_path)
df_tem = pd.read_csv(input_tempetature_path)
df_windD = pd.read_csv(input_windD_path)
df_windS = pd.read_csv(input_windS_path)

In [43]:
df_dic = {'hum':df_hum, 'pre':df_pre, 'tem':df_tem, 'windD':df_windD, 'windS':df_windS}

In [46]:
for key in df_dic.keys():
    df_dic[key]['datetime'] = pd.to_datetime(df_dic[key]['datetime']).apply(datetime.datetime.date)
    df_dic[key] = df_dic[key].groupby('datetime').mean()
df_hum, df_pre, df_tem, df_windD, df_windS = df_dic.values()

In [53]:
df_hum.head()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01,78.272727,78.727273,83.000000,78.000000,88.000000,79.909091,20.727273,24.181818,48.909091,63.181818,...,68.272727,56.272727,75.727273,68.000000,54.818182,62.909091,23.250000,51.000,51.00,50.000000
2012-10-02,77.375000,65.833333,65.958333,65.166667,64.916667,65.875000,16.166667,24.476190,40.363636,66.647059,...,54.500000,50.950000,39.500000,68.750000,72.916667,69.708333,33.833333,53.500,53.50,52.750000
2012-10-03,71.625000,66.208333,47.083333,58.416667,44.875000,59.750000,14.500000,18.380952,31.904762,36.869565,...,78.791667,68.541667,88.400000,86.041667,75.541667,77.208333,47.291667,69.375,69.75,62.291667
2012-10-04,49.000000,51.166667,60.166667,48.869565,66.625000,75.583333,15.166667,20.238095,19.681818,14.750000,...,88.565217,94.545455,94.750000,84.750000,67.458333,64.625000,49.333333,71.250,71.25,63.375000
2012-10-05,43.409091,40.391304,69.666667,48.521739,70.250000,72.791667,14.647059,27.777778,18.250000,49.500000,...,84.750000,93.041667,88.000000,73.333333,65.666667,63.416667,46.875000,70.500,70.50,67.250000